<%- messages() %>

<% if (typeof errors !== "undefined" && errors.length > 0) { %>
    <div class="error-list">
        <ul>
            <% errors.array().forEach(error => { %>
                <li><%= error.msg %></li>
            <% }) %>
        </ul>
    </div>
<% } %>

<h1>Login</h1>
<form id="loginForm" action="/account/login" method="post">
    <label for="account_email">Email:</label>
    <input type="email" id="account_email" name="account_email" placeholder="Enter a valid email address" required value="<%= locals.account_email %>" autocomplete="email" />

    <label for="account_password">Password:</label>
    <input type="password" id="account_password" name="account_password" required 
           title="Password must be at least 12 characters long, contain at least 1 uppercase letter, 1 number, and 1 special character." autocomplete="current-password">

    <p class="passwordInfo">Password must be at least 12 characters long, contain at least 1 uppercase letter, 1 number, and 1 special character.</p>

    <button type="submit">Login</button>

    <p>No Account? <a href="/account/register">Sign-up</a></p>
</form>